/*  */

.dark-theme {
    color: white;
    background-color: black;
    transition: all 1s ease-in-out;
}

.light-theme {
    color: black;
    background-color: white;
    transition: all 1s ease-in-out;
}