.hbtn {
    width: 154px !important;
}

.timer {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 3em;
    width: 546px;
}
.timer span {
    border: 3px solid rgb(51, 70, 153);
}

.timer_on {
    color: chartreuse ;
    /* transition: color 1s ease-in-out; */
}
